/* -------------------------------------------------------------------------- *
 * Theme
 * -------------------------------------------------------------------------- */

/* --- General -------------------------------------------------------------- */

body {
  background-color: #E4E7EA;
}
a {
  color: #e040fb;
}
a:hover {
  color: #388e3c;
}
.bg-image.no-image {
  background-color: #4caf50;
}

/* --- Navbar --------------------------------------------------------------- */

.navbar {
  background-color: #4caf50;
  color: white;
}
.navbar a {
  color: white;
}
.navbar--nav-link:hover {
  background-color: rgba(255,255,255,.5);
  border-bottom: 3px solid white;
}

/* --- Header --------------------------------------------------------------- */

.header {
  background-color: #333;
  color: white;
}
.header .navbar.fixed.autohide.show {
  background-color: #4caf50;
}
.header--subtitle {
  color: #ddd;
}

/* --- Content -------------------------------------------------------------- */

.post--content > h1,
.post--content > h2,
.post--content > h3,
.post--content > h4,
.post--content > h5,
.post--content > h6 {
  border-color: #4caf50;
}
.post--content p > code {
  background-color: #c8e6c9;
  color: #4caf50;
}
.post--content blockquote {
  background-color: #c8e6c9;
  border-color: #4caf50;
}
.post--tags a {
  color: #888;
  background-color: rgba(127,127,127,0.15);
}
.post--tags a:hover {
  background-color: rgba(127,127,127,0.3);
}
.post--title a{
    color: white !important;
}
.post--title a:hover {
    color: #c8e6c9 !important;
}

/* --- Cards ---------------------------------------------------------------- */

.card {
  background-color: white;
}
.card.image .bg-darken {
  color: white;
}
.card-image .bg-lighten {
  color: black;
}
.card--back {
  background-color: #333;
  color: white;
}

/* --- Author --------------------------------------------------------------- */

.author {
  background-color: rgba(0,0,0,.05);
}
.author--media {
  background-color: #4caf50;
}

/* --- FABs ----------------------------------------------------------------- */

.fab {
  color: white;
  background-color: #e040fb;
}
.fab:hover {
  color: white;
}

/* --- Buttons -------------------------------------------------------------- */

.button.solid {
  color: white;
  background-color: #e040fb;
}

/* --- Waves ---------------------------------------------------------------- */

.wave {
  background-color: white;
}

/* --- Footer --------------------------------------------------------------- */

.footer {
  background-color: #388e3c;
}
.footer a {
  color: #B2DFDB;
}
.footer a:hover {
  color: #FFFFFF;
}
.footer--top {
  color: #c8e6c9;
}
.footer--bottom a {
  color: #004d40;
}
.footer--bottom a:hover {
  color: #c8e6c9;
}
.footer--bottom {
  color: #004d40 ;
}

/* --- Menu button ---------------------------------------------------------- */
.menu-icon {
    background-color: #e040fb !important;
    color: white;
}
